In [1]:
import matplotlib.pyplot as plt
import pandas as pd 
import numpy as np
import seaborn as sns

In [2]:
import pandas as pd

# Define synthetic Indian retail sales data
data = {
    "OrderID": list(range(1001, 1021)),
    "Product": ["Laptop", "Smartphone", "Jeans", "LED TV", "Kurta", "Washing Machine", "Mixer Grinder", "Sports Shoes",
                "Microwave", "Earphones", "Refrigerator", "Sandals", "Tablet", "Hoodie", "Air Fryer", "Chappal",
                "Smartwatch", "Saree", "Jacket", "Toaster"],
    "Category": ["Electronics", "Electronics", "Clothing", "Electronics", "Clothing", "Appliances", "Appliances", 
                 "Footwear", "Appliances", "Electronics", "Appliances", "Footwear", "Electronics", "Clothing",
                 "Appliances", "Footwear", "Electronics", "Clothing", "Clothing", "Appliances"],
    "Quantity": [1, 2, 3, 1, 4, 1, 2, 2, 1, 3, 1, 2, 2, 1, 2, 1, 2, 3, 1, 2],
    "PricePerUnit": [60000, 20000, 1500, 45000, 800, 25000, 3000, 4000, 10000, 1500, 55000, 1200, 25000, 2000, 7000, 
                     500, 7000, 2500, 3500, 2000],
    "TotalPrice": [60000, 40000, 4500, 45000, 3200, 25000, 6000, 8000, 10000, 4500, 55000, 2400, 50000, 2000, 14000, 
                   500, 14000, 7500, 3500, 4000],
    "Date": pd.date_range(start="2024-01-01", periods=20, freq='D').strftime("%Y-%m-%d").tolist(),
    "CustomerID": ["C001", "C002", "C003", "C004", "C005", "C006", "C007", "C008", "C009", "C010", 
                   "C011", "C012", "C001", "C002", "C003", "C004", "C005", "C006", "C007", "C008"],
    "City": ["Mumbai", "Delhi", "Bengaluru", "Hyderabad", "Chennai", "Kolkata", "Pune", "Ahmedabad", "Jaipur", "Lucknow",
             "Surat", "Nagpur", "Indore", "Bhopal", "Vadodara", "Ludhiana", "Patna", "Kanpur", "Kochi", "Nashik"]
}

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv("sales_data_india.csv", index=False)

print("Indian retail sales dataset saved as 'sales_data_india.csv'")

Indian retail sales dataset saved as 'sales_data_india.csv'

In [6]:
df1 = pd.read_csv(r'C:/Users/sahil/OneDrive/Desktop/Python Programms/sales_data_india.csv')

In [7]:
df1

,OrderID,Product,Category,Quantity,PricePerUnit,TotalPrice,Date,CustomerID,City
0,1001,Laptop,Electronics,1,60000,60000,2024-01-01,C001,Mumbai
1,1002,Smartphone,Electronics,2,20000,40000,2024-01-02,C002,Delhi
2,1003,Jeans,Clothing,3,1500,4500,2024-01-03,C003,Bengaluru
3,1004,LED TV,Electronics,1,45000,45000,2024-01-04,C004,Hyderabad
4,1005,Kurta,Clothing,4,800,3200,2024-01-05,C005,Chennai
5,1006,Washing Machine,Appliances,1,25000,25000,2024-01-06,C006,Kolkata
6,1007,Mixer Grinder,Appliances,2,3000,6000,2024-01-07,C007,Pune
7,1008,Sports Shoes,Footwear,2,4000,8000,2024-01-08,C008,Ahmedabad
8,1009,Microwave,Appliances,1,10000,10000,2024-01-09,C009,Jaipur
9,1010,Earphones,Electronics,3,1500,4500,2024-01-10,C010,Lucknow
10,1011,Refrigerator,Appliances,1,55000,55000,2024-01-11,C011,Surat
11,1012,Sandals,Footwear,2,1200,2400,2024-01-12,C012,Nagpur
12,1013,Tablet,Electronics,2,25000,50000,2024-01-13,C001,Indore
13,1014,Hoodie,Clothing,1,2000,2000,2024-01-14,C002,Bhopal
14,1015,Air Fryer,Appliances,2,7000,14000,2024-01-15,C003,Vadodara
15,1016,Chappal,Footwear,1,500,500,2024-01-16,C004,Ludhiana
16,1017,Smartwatch,Electronics,2,7000,14000,2024-01-17,C005,Patna
17,1018,Saree,Clothing,3,2500,7500,2024-01-18,C006,Kanpur
18,1019,Jacket,Clothing,1,3500,3500,2024-01-19,C007,Kochi
19,1020,Toaster,Appliances,2,2000,4000,2024-01-20,C008,Nashik